.formulario-container {
    padding: 20px;
  }
  
  .formulario-title {
    margin-bottom: 16px;
  }
  
  .formulario-button {
    margin-bottom: 16px;
  }
  
  .formulario-paper {
    padding: 16px;
  }
  